.cabeçalho {
    background-color: rgb(250, 11, 178);
    color: azure;
}
.titulo{
    color: aquamarine;
    align-items: center;
}
 .cabecalho-imagem{
    width: 50px;
}
.cabeçalho-lista{
    color: antiquewhite;
}